<div class="row">
	<div class="col-md-12">
		<div class="infobar">
			<h3>Beállítások</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <strong>Facebook hozzáférés</strong>
		    <a href="{{loginUrl}}" class="btn btn-primary"><span class="glyphicon glyphicon-lock"></span> Csatlakoztatás</a>
		    <button ng-show="loggedIn" ng-click="doCheck()" class="btn btn-success">
		    	<span class="glyphicon glyphicon-ok-sign"></span> OK</button>
		  </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h4>Csatlakoztatott Facebook felhasználók</h4>
		<table ng-table="accountParams" show-filter="false" class="table table-striped table-bordered">
		<tr ng-repeat="account in accounts">
			<td>
				<a href="#/newpost/user/{{account.id}}" class="btn btn-success btn-xs" title="Új bejegyzés"><span class="glyphicon glyphicon-comment"></span></a>
		    	<button ng-click="doRemove(account)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
		    	<button ng-click="doUpdateFanpage(account)" class="btn btn-xs" 
		    		ng-class="{'btn-primary': !updatedFanpages, 'btn-success': updatedFanpages }"><span class="glyphicon glyphicon-refresh"></span> Oldalak ellenőrzése</button>
		    </td>
		    <td data-title="'Név'" filter="{ 'name': 'text'}">
		    	{{account.name}} 
		    </td>
		    <td data-title="'Felhasználó ID'" filter="{ 'id': 'text' }" sortable="id">
		        {{account.id}}
		    </td>
		    <td data-title="'Csatlakoztatva'" filter="{ 'action': 'button' }" sortable="created">
		        {{account.created | date: 'yyyy.MM.dd HH:mm'}}
		    </td>
		</tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h4>A felhasználókhoz tartozó facebook oldalak</h4>
		<table ng-table="fanpageParams" show-filter="false" class="table table-striped table-bordered">
		<tr ng-repeat="fanpage in fanpages">
			<td>
				<a href="#/newpost/page/{{fanpage.id}}" class="btn btn-success btn-xs" title="Új bejegyzés"><span class="glyphicon glyphicon-comment"></span></a>
		    	<button ng-click="doRemovePage(fanpage)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
		    </td>
		    <td data-title="'Név'" filter="{ 'name': 'text'}">
		    	{{fanpage.name}}
		    </td>
		    <td data-title="'Kategória'" filter="{ 'category': 'text'}">
		    	{{fanpage.category}}
		    </td>
		    <td data-title="'Oldal ID'" filter="{ 'id': 'text' }">
		        {{fanpage.id}}
		    </td>
		    <td data-title="'Kapcsolattartó'">
		        {{fanpage.owner}}
		    </td>
		</tr>
		</table>
	</div>
</div>